In [7]:
import numpy as np
import pandas as pd

In [25]:
empleados = pd.read_csv('data/Employee.csv')

In [9]:
empleados.dtypes

Education                    object
JoiningYear                   int64
City                         object
PaymentTier                   int64
Age                           int64
Gender                       object
EverBenched                  object
ExperienceInCurrentDomain     int64
LeaveOrNot                    int64
dtype: object

Descripcion de variables: 

Education(Educación): ['Bachelors', 'Masters', 'PHD']   -> empleados.Education.unique()
JoinYear(Año de incorporación/Contratación)
City (Ciudad) :  ['Bangalore', 'Pune', 'New Delhi']   -> empleados.City.unique()
PaymentTier(Categoria de Pago): [1, 2, 3] -> empleados.PaymentTier.unique() ¿Qué som 1, 2 y 3? ¿Qué significa que un empleado pertenezca a cada categoria?
Age(Edad)
Gender(Genero): ['Male', 'Female']
EverBenched() : ['No', 'Yes'] -> Creo que se refiere a su estado bancario anterior al entrar a la empresa.
ExperienceInCurrentDomain(Experiencia en el campo actual): [0 .. 7] -> ¿Que significan estos numeros?
LeaveOrNot(¿Dejo la empresa?) : [0, 1]

In [8]:
empleados.head

<bound method NDFrame.head of       Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0     Bachelors         2017  Bangalore            3   34    Male          No
1     Bachelors         2013       Pune            1   28  Female          No
2     Bachelors         2014  New Delhi            3   38  Female          No
3       Masters         2016  Bangalore            3   27    Male          No
4       Masters         2017       Pune            3   24    Male         Yes
...         ...          ...        ...          ...  ...     ...         ...
4648  Bachelors         2013  Bangalore            3   26  Female          No
4649    Masters         2013       Pune            2   37    Male          No
4650    Masters         2018  New Delhi            3   27    Male          No
4651  Bachelors         2012  Bangalore            3   30    Male         Yes
4652  Bachelors         2015  Bangalore            3   33    Male         Yes

      ExperienceInCurrentDomain  LeaveOrNot
0                             0           0
1                             3           1
2                             2           0
3                             5           1
4                             2           1
...                         ...         ...
4648                          4           0
4649                          2           1
4650                          5           1
4651                          2           0
4652                          4           0

[4653 rows x 9 columns]>

In [33]:
df_empleados = pd.DataFrame(empleados.Age)
df_empleados.describe()

               Age
count  4653.000000
mean     29.393295
std       4.826087
min      22.000000
25%      26.000000
50%      28.000000
75%      32.000000
max      41.000000